 /* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Global Typography */
*, :before, :after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	font-size: 20px;
	font-family: 'Proxima Nova', Avenir, Helvetica Neue, arial, sans-serif;
	color: #43425D;
	background-color: #F3F4F5;
	min-height: 480px;
}
/* Global Headings */
h1 {
	direction:rtl;
	font-size: 31px;
	margin-bottom: 25px;
}
h2 {
	direction:rtl;
	position: absolute;
	bottom: 100%;
	margin-bottom: 10px;
	right: 0;
	font-size: 16px;
	font-weight: 600;
	left: 0;
}
h3{
	direction:rtl;
	font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
    /* font-weight: 300; */
}

/* General Text Formatting */
strong , span{
	display: inline-block;
}
span{
	font-size: 14px;
}
img{
	max-width: 100%;
	height: auto;
}
/* Global Link style */
a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	transition: 0.3s ease;
}
a:hover, a:focus {
	color:#7b83d1;
}
/* Global Button Styles */
button {
	cursor: pointer;
	transition: 0.3s ease;
	border: none;
	outline: none;
}
/*Page Navigator Styling*/
.page-navigator{
	margin-top: 70px;
}
.page-navigator a{
	color: #000;
	background-color: #eeeeee;
	padding: 10px 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 16px;
}
.page-navigator a:hover{
	background-color: #5f9ce4;
	color: #fff;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
/* Global Sprite Icons */
[class^="icon-"], [class*="icon-"] {
	background-image: url(../images/sprite.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
	display: inline-block;
	width: 68px;
	height: 68px;
}
/* Clearfix class*/
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/*Post Defined Classes*/
.d-block{
	display: block;
}
.d-none{
	display: none;
}
.back-btn{
	float: right;
}
.next-btn{
	float: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: left;
}
.text-left{
	text-align: right;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
/* Global style */
#wrapper{
	padding: 0 15px;

}
.container{
	max-width:1130px;
	margin: 100px auto;
	padding: 60px 60px 50px;
	background-color: #fff;
	border:1px solid #ebebec;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}
/*Progress Bar Styling*/
.progress{
	max-width: 1070px;
	margin: 0 auto;
	position: fixed;
	background: rgba(243,244,245,1);
    padding:10px 20px 15px;
	bottom: 0px;
	right: 0;
	left: 0;
	width: 100%;
}
.progress span{
	margin-bottom: 14px;
}
.progress-bar{
	height: 9px;
	background-color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: relative;
}

.progress-line{
	height: 9px;
	background-color: #5f9ce4;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.null{
	width: 0;
}
.fourteen{
	width: 14%;
}
.twenty-eight{
	width: 28%;
}
.fourty-two{
	width: 42%;
}
.fifty-six{
	width: 56%;
}
.seventy{
	width: 70%;
}
.eighty-four{
	width: 84%;
}
.hundred{
	width: 100%;
}
/*Required Input Styling*/
.star{
	color: #cb0000;
	font-size: 22px;
	margin-right: 4px;
}
.required{
	direction:rtl;
	padding-right: 15px;
}
.required span{
	font-size: 14px;
	font-weight: 500;
	color: #b94e4e;
}
/* Header Styles */
.header {
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.header .container {
	padding: 55px 60px 30px;
	position: relative;
	margin: 0 auto;
}
.landing .header .container:after{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 100%;
	height: 8px;
	background-color: #5f9ce4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.brand-logo{
	margin-bottom: 35px;
}
.header h2{
	border-bottom: 1px solid #c3c3c3;
	padding: 0;
	font-size: 18px;
	padding-bottom: 15px;
	display: block;
	margin-bottom: 30px;
	line-height: 1.4;
	position: static;
	font-weight: 300;
	background-color: transparent;
	color: #43425D;
}
.survey{
	background-color: #5F9CE4;
	opacity:.9;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 15px 26px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 80px;
	-webkit-box-shadow: 8px 10px 20px rgba(46,61,73,0.15);
	-moz-box-shadow: 8px 10px 20px rgba(46,61,73,0.15);
	box-shadow: 8px 10px 20px rgba(46,61,73,0.15);
	font-family: 'Proxima Nova', Avenir, 'Helvetica Neue', Arial, sans-serif;
}
.survey:hover{
	background-color: #fff;
	color: #5F9CE4;
	background-color: #5F9CE4;
	color: #fff;
	opacity:.95;
	-webkit-box-shadow: 2px 4px 8px rgba(46,61,73,0.2);
	-moz-box-shadow: 2px 4px 8px rgba(46,61,73,0.2);
	box-shadow: 2px 4px 8px rgba(46,61,73,0.2);
}
.header-navbar{
	/* width: 410px; */
	width: 127px;
	margin: 0 auto;
}
.menu{
	position: relative;
}
.menu > li{
	float: right;
	margin: 0 10px;
}
.menu li a{
	font-size: 16px;
	color: #5F9CE4;
	font-weight: 400;
}
.menu li .active{
	color: #43425D;
}
.menu li a:hover{
	color: #43425D;
}
.menu-collapse{
	position: relative;
	background-color: transparent;
	border:none;
	display: block;
	height: 20px;
	outline: none;
}
.menu-collapse:after{
	width: 14px;
	height: 2px;
	background-color: #5F9CE4;
	position: absolute;
	content: '';
	top: 11px;
	right: 0;
	transition:0.7s ease;
}
.menu-collapse:before{
	width: 2px;
	height: 15px;
	background-color: #5F9CE4;
	position: absolute;
	content: '';
	top: 4px;
	right: 6px;
	transition:0.7s ease;
}
.menu-collapse:hover:after, .menu-collapse:hover:before{
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
	-ms-transform: rotate(-270deg);
	-o-transform: rotate(-270deg);
	transform: rotate(-270deg);
}

/*Dropdown Menu Styling*/
.sub-close{
	position: absolute;
	top: -12px;
	left: -12px;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #5F9CE4;
}
.sub-close:after, .sub-close:before{
	position: absolute;
	content: '';
	width: 2px;
	height: 15px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 8px;
	right: 14px;
}
.sub-close:before{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.dropdown-menu{
	position: absolute;
	width: 600px;
	bottom: 50px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
	background-color: #fafafa;
	padding: 25px 30px 10px;
	border:1px solid #e9e9e9;
	-webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
	box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.selected-language{
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px;
}
.selected-language li{
	float: right;
	width: 20%;
	text-align: right;
}
.selected-language li a{
	font-size: 17px;
}
.sub-lang{
	width: 20%;
	text-align: right;
	padding-top: 10px;
}
.sub-lang li{
	margin-bottom: 15px;
}
.sub-lang li a{
	font-size: 16px;
}
.dropthought{
	position: fixed;
	bottom: 10px;
	right: 0;
	left: 0;
	z-index: -1;
}
.landing {
	position: relative;
	min-height: calc(100vh - 40px);
}

/*Last page*/
.thanks h2{
	border-bottom: none;
}
