
@media only screen and (max-width: 1172px) {

	.container{
		width: 840px;
		padding: 60px 60px 50px;
	}
	.overall-form{
		margin-top:30px;
	}
	.progress{
		width: 769px;
	}
	.rating li{
		margin-left: 28px;
	}
	.rating li a{
		width: 45px;
		height: 45px;
		line-height: 45px;
	}
}

/*FOR 769PX*/
@media only screen and (max-width: 1099px) {

	.container{
		width: 840px;
		padding: 60px 60px 50px;
	}
	.overall-form{
		margin-top:30px;
	}
	.progress{
		width: 769px;
	}
	.rating li{
		margin-left: 28px;
	}
	.rating li a{
		width: 45px;
		height: 45px;
		line-height: 45px;
	}
}
/*FOR 320PX*/
/*@media only screen and (max-width: 321px) {
	.menu > li{


}*/
/*FOR 768PX*/
@media only screen and (max-width: 768px) {
	body{
		position: relative;
		background-color: white;
	}
	h1{
		font-size: 22px;
	}
	h2{
		top: 0;
		padding: 15px 30px;
		background-color: #fff;
		font-size: 14px;
		background-color: #5F626A;
		color: #fff;
		bottom: auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	h3{
		font-size: 16px;
		margin-bottom: 14px;
	}
	#wrapper{
		padding: 0;
	}

	.survey{
		margin-bottom:40px;
	}

	.dropthought{
			margin-bottom:15px;
	}

	.container{
		margin: 0 auto;
		padding: 50px 30px 90px;
		width: auto;
		border: none;
	}
	.overall-form{
		margin-top:30px;
	}
    /*----------------------------Header Styling-----------------------------*/
   .header .container{
   		position: static;
   		margin: 0 auto;
   		padding: 20px 0;
   }
   .header .container:after{
   	    display: none;
   }
   .brand-logo{
   		margin-bottom: 20px;
   }
   .survey{
   		font-size: 18px;
   		padding: 10px 20px;
   }
   .header h2{
   	    border-bottom: 1px solid #c3c3c3 ;
   	    width: 270px;
   	    margin: 0 auto 30px;
   	    font-size: 17px;
   }
   .header-navbar{
   		max-width: 101px;
   }
   .menu li{
   		/* margin: 0 1.5% 8px; */
   		text-align: center;
			margin: 0 10px;
   }
   .menu > li:first-child{
   		margin-right: 0px;
   }
   .menu > li:last-child{
		margin-left: 0;
   }
   .menu li a{
   		font-size: 15px;
   }
   .dropdown-menu{
	   	width: 270px;
	   	padding-left: 0;
	   	padding-right: 0;
   }
   .sub-lang{
   		width: 33.3%;
   }
   .selection-language{
   	    overflow-y: scroll;
		height: 200px;
   }
   .selected-language li:last-child{
   	    margin-right: 8px;
   }

    /*----------------------------Header Styling End-----------------------------*/

   /*------------------Styling for rating page------------------*/
   .rating li:after{
   	    display: none;
	}
   .rating li{
   		float: none;
   		margin-bottom: 8px;
   		margin-left: 0;
   }
   .rating li a{
   		width: 100%;
   		height: 35px;
   		line-height: 35px;
   		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 14px;
   }
   .info-rating{
		display: none;
   }
   .info-rating-mobile{
   		display: inline-block;
   }
   .page-navigator{
   		margin-top: 50px;
   }
   .page-navigator a{
		font-size: 15px;
		padding: 10px 25px;
   }
   /*------------------Styling for rating-Question page------------------*/
  .rating-question .rating{
  	    margin-bottom: 35px;
  }
  /*------------------Styling for Overall Expierence page------------------*/
  .rating-expresions{
  		padding: 0px 15px 10px;
  }
  .rating-expresions li{
		direction:rtl;
		float: none;
		margin-bottom: 5px;
		text-align: right;
  }
  .rating-expresions li em{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		margin-left: 10px;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
  }
  .radio-buttons, .check-buttons{
  	margin-bottom: 20px;
  }
  /*Required Input Styling*/
  .required span{
	font-size: 13px;
	font-weight: 400;
	color: #cb0000;
  }


   /*Progress Bar Styling*/
  /* .progress{
  	    padding:10px 35px;
  	    width: auto;
  	    text-align: center;
   }
   .progress-bar{
		height: 7px;
	}
	.progress-line{
		height: 7px;
	} */
	/*Progress Bar Styling End*/
