

/*------------------Styling for rating page------------------*/
.rating{
	position: relative;
	margin-bottom: 15px;
}

.rating li{
	float: left;
	margin-right: 53px;
	position: relative;
}
.rating li:last-child{
	margin-right: 0;
}
.rating li a{
	width: 53px;
	height: 53px;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 17px;
	color: #707070;
}
.rating li a:hover{
	color: #fff;
}
.not-likeable{
	-webkit-box-shadow: 0 5px 7px rgba(210,49,60,0.5);
	-moz-box-shadow: 0 3px 7px rgba(210,49,60,0.5);
	box-shadow: 0 3px 7px rgba(210,49,60,0.5);
}
.medium-rate{
	-webkit-box-shadow: 0 3px 7px rgba(255,179,5,0.5);
	-moz-box-shadow: 0 3px 7px rgba(255,179,5,0.5);
	box-shadow: 0 3px 7px rgba(255,179,5,0.5);
}
.excellent-rate{
	-webkit-box-shadow: 0 3px 7px rgba(28,188,98,0.5);
	-moz-box-shadow: 0 3px 7px rgba(28,188,98,0.5);
	box-shadow: 0 3px 7px rgba(28,188,98,0.5);
}
.not-likeable:hover{
	background-color: rgba(210,49,60,1);
}
.rating li .not-likeable-active{
	background-color: rgba(210,49,60,1);
	color: #fff;
}
.medium-rate:hover{
	background-color: rgba(255,179,5,1);
}
.rating li .medium-rate-active{
	background-color: rgba(255,179,5,1);
	color: #fff;
}
.excellent-rate:hover{
	background-color: rgba(28,188,98,1);
}
.rating li .excellent-rate-active{
	background-color: rgba(28,188,98,1);
	color: #fff;
}
.info-rating{
	display: block;
	position: absolute;
	top: 100%;
	margin-top: 15px;
	left: 0;
	/* width: 120px; */
	width: 60px;
}

.nps-label{
	width: 90px;
}

.excellent-rate + .info-rating{
	right: 0;
	left: auto;
	width: 95px;
}
.info-rating-mobile{
	display: none;
   }
/*Textarea Styling*/
.comment{
	position: relative;
	padding-bottom: 30px;
}
.comment textarea{
	width: 100%;
	height: 100px;
	resize: none;
	border: 2px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Proxima Nova', Avenir, Helvetica Neue, arial, sans-serif;
	padding: 10px 20px;
	color: #43425D;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	-webkit-appearance: none;
}
 textarea:focus {
	outline: none !important;
  box-shadow: 0 0 3px #5f9ce4;
  border: 1px solid #5f9ce4;
}
.circle{
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}
.circle:hover{
	background-color: #5f9ce4;
	color: #fff;
}
.rating li .circle-active{
	background-color: #5f9ce4;
	color: #fff;
}
.rating li:after{



}
.rating li:last-child:after{
	display: none;
}
/*------------------Styling for Rating Question page------------------*/
.rating-question .rating{
	margin-bottom: 70px;
}
.rating li:last-child .info-rating{
	right: 0;
	left: auto;
	width: 60px;
	text-align:right;
}

.rating li:last-child .nps-label{
	width: 70px;
}

.comment .words-left{
	position: absolute;
	right: 0;
	  /*removed from top : 100% */
	margin-top: 5px;
}

/*added css for class .words-right*/
.comment .words-right{
	position: absolute;
	left: 0;
	  /*removed from top : 100% */
	margin-top: 5px;
	width:60%;
	white-space: nowrap; 
	overflow: hidden;
  text-overflow: ellipsis;
	border: 0px solid black;
}
/*------------------Styling for Overall Expierence page------------------*/
.rating-expresions{
	padding: 0 0 35px 10px;
}
.rating-expresions li{
	float: left;
	margin-right: 50px;
	text-align: center;
}
.rating-expresions li a{
	color: #43425D;
}
.rating-expresions li:last-child{
	margin-right: 0;
}
.rating-expresions li em{
	display: block;
	margin-bottom: 10px;
	transition:0.25s ease;
}
.icon-very-poor{
	background-position: 0 0;
}
.icon-fair{
	background-position: -106px -1px;
}
.icon-neutral{
	background-position: -213px 0;
}
.icon-good{
	background-position: -319px 0;
}
.icon-excellent{
	background-position: -434px 0;
}
.rating-expresions li a:hover .icon-very-poor{
	background-position: 0 -82px;
}
.rating-expresions li a:hover .icon-fair{
	background-position: -102px -82px;
}
.rating-expresions li a:hover .icon-neutral{
	background-position: -213px -81px;
}
.rating-expresions li a:hover .icon-good{
	background-position: -319px -81px;
}
.rating-expresions li a:hover .icon-excellent{
	background-position: -434px -81px;
}
.radio-buttons,.check-buttons{
	margin-bottom: 30px;
}

/*Active classes for rating-expresions*/
.icon-very-poor-active{
	background-position: 0 -82px;
}
.icon-fair-active{
	background-position: -102px -82px;
}
.icon-neutral-active{
	background-position: -213px -81px;
}
.icon-good-active{
	background-position: -319px -81px;
}
.icon-excellent-active{
	background-position: -434px -81px;
}
/*Custom Styling For Chechbox and Radio*/
.btn-custom{
	display: block;
	font-size: 14px;
	position: relative;
	margin-bottom: 2px;
	cursor: pointer;
	padding: 9px 0 9px 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.btn-custom input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.radio-btn{
   position: absolute;
   top: 6px;
   left: 12px;
   height: 21px;
   width: 21px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   background-color: transparent;
   border: 2px solid #a9a9a9;
}

.radio-btn:after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 50%;
  background-color: #5f9ce4;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.btn-custom:hover{
	background-color: #e7f0fb;
}
.custom-radio input:checked ~ .radio-btn{
	  border: 2px solid #5f9ce4;
}
.custom-radio input:checked ~ .radio-btn:after{
	display: block;
}
/*Checkbox*/
.btn-check{
	position: absolute;
    top: 5px;
    left: 12px;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border: 2px solid #a9a9a9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-check:after{
   position: absolute;
   content:'';
   top: 1px;
   left: 5px;
   width: 7px;
   height: 12px;
   border: solid #fff;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}
.custom-check input:checked ~ .btn-check{
	 background-color: #5f9ce4;
	 border: 2px solid #5f9ce4;
}
.custom-check input:checked ~ .btn-check:after{
	display: block;

}

.selected-option{
	background: #e7f0fb;
}

.denotes-required{
	margin-bottom:30px;
	color: #cb0000;
}

.denotes-required span::after{
	font-size:14px;
}
button{
    color: #000;
    background-color: #eeeeee;
    padding: 10px 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: capitalize;
		font-size: 16px;
}

button:hover{
	background-color: #6f5ba7;
	color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
}

button:disabled,
button[disabled]{
  border: 0px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
/*Custom Styling For Chechbox and Radio End*/
