<template>
   <div class="radio-buttons" ref=this.activeOption >
      <div v-for="(data, index) in dataObjects.options"  v-bind:key= index>
         <label class="custom-radio btn-custom">{{ data }}
            <input type="radio" :value="data" v-bind:key= index  v-model="activeOption" @change="selectedOption"/>
            <span class="radio-btn"></span>
         </label>      
      </div>
      <div class="required">
         <span>Oops! You forgot to answer this question.</span>
      </div>
   </div>
</template>
<script>
   export default {
     name: 'multiChoice',
     props: {
       dataObjects: Object
     } ,
    data: ()=>{
       return{      
         activeOption: ""
       }
    },
    methods:{
       selectedOption(){ 
         //console.log(typeof(this.dataObjects.questionId))
         this.$emit('selectedRadio',this.dataObjects.questionId, this.dataObjects.type, this.activeOption, this.$options.name)
       }
    }
   }
   
</script>
<style></style>