<template>
   <div class="comment">
      <textarea class="d-block"  maxlength="4000" id="myTextarea" v-model="characters" v-on:blur="handleComments" ></textarea>
      <p class="words">
         <span class="words-left" id="words_count">{{ characters.length }} of 4000 characters</span>
         <span class="words-right" id="user_words">{{ characters }}</span>
      </p>
   </div>
</template>
<script>
    export default {
      name: 'openEnded',
      props: {
        dataObjects: Object
      } ,
      data: () => {
        return{
          characters: ""
        }
      },
      methods:{
        handleComments(){        
          this.$emit("comments",  this.dataObjects.questionId, this.dataObjects.type, this.characters)
        }
      }

    }
</script>
<style>
</style>