<template>
   <div class="pointsRating">
      <ul class="rating clearfix" >
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'One'" :class="{'circle-active': activeCircle === 'One' }">1<span class="info-rating-mobile"> - Strongly Disagree</span></a>
            <span class="info-rating">Strongly Disagree</span>
         </li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Two'" :class="{'circle-active': activeCircle === 'Two' }">2</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Three'" :class="{'circle-active': activeCircle === 'Three' }">3</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Four'" :class="{'circle-active': activeCircle === 'Four' }">4</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Five'" :class="{'circle-active': activeCircle === 'Five' }">5</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Six'" :class="{'circle-active': activeCircle === 'Six' }">6</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Seven'" :class="{'circle-active': activeCircle === 'Seven' }">7</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Eight'" :class="{'circle-active': activeCircle === 'Eight' }">8</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Nine'" :class="{'circle-active': activeCircle === 'Nine' }">9</a></li>
         <li @click="selectedPoints($event)"><a class="circle" @click="activeCircle = 'Ten'" :class="{'circle-active': activeCircle === 'Ten' }">10 <span class="info-rating-mobile"> - Strongly Agree</span></a>
            <span class="info-rating">Strongly Agree</span>
         </li>
      </ul>
   </div>
</template>
<script>
   export default {
      name: 'poinRatings',
     props: {
       dataObjects: Object
     },
     data: ()=>{
        return{
           activeCircle: ""
        }
     },
     methods:{
        selectedPoints(event){
          const getClass = event.target;
          this.$emit('selectedPoints', this.dataObjects.questionId, this.dataObjects.type, this.activeCircle, getClass.className)             
        }
     }
   }
</script>
<style ></style>