<template>
   <div class="rating-moods" >
      <ul class="rating-expresions clearfix">
         <li id="myDiv"><a href="#" @click=" selectedSmiley($event)"><em class="icon-very-poor" @click="activeSmiley = 'veryPoor'" :class="{'icon-very-poor-active' : activeSmiley === 'veryPoor'}" ></em><span></span></a></li>
         <li><a href="#" @click=" selectedSmiley($event)"><em class="icon-fair" @click="activeSmiley = 'fair'" :class= "{'icon-fair-active' : activeSmiley === 'fair'}" ></em><span></span></a></li>
         <li><a href="#" @click=" selectedSmiley($event)"><em class="icon-neutral" @click="activeSmiley = 'neutral'" :class= "{'icon-neutral-active' : activeSmiley === 'neutral'}"></em><span></span></a></li>
         <li><a href="#" @click=" selectedSmiley($event)"><em class="icon-good"  @click="activeSmiley = 'good'" :class= "{'icon-good-active' : activeSmiley === 'good'}"></em><span></span></a></li>
         <li><a href="#" @click=" selectedSmiley($event)"><em class="icon-excellent"  @click="activeSmiley = 'excellent'" :class= "{'icon-excellent-active' : activeSmiley === 'excellent'}" ></em><span></span></a></li>
      </ul>
   </div>
</template>
<script>
   export default {
      name: 'rating',
     props: {
       dataObjects: Object
     },
      data: ()=>{
       return{         
         activeSmiley : ""       
       }
     },
     methods:{
        selectedSmiley(event){  
           const getClass = event.target;
           //console.log(getClass.className)
           this.$emit('selectedSmiley', this.dataObjects.questionId, this.dataObjects.type, this.activeSmiley, getClass.className)            
        }
     }     
   }
     
</script>
<style></style>