<template>
   <div class="check-buttons" >
     <div v-for="(data, index) in dataObjects.options" >
       <label class="custom-check btn-custom" >
          <input type="checkbox" :value="data" v-bind:key= index v-model="activeBox" />{{ data }}
          <span class="btn-check"></span>
       </label>
     </div>     
   </div>
</template>


<script>
  export default {
    name: 'singleChoice',
    props: {
     dataObjects: Object
    },
    data: ()=>{
       return{      
         activeBox: []
       }
    },
    watch : {      
       activeBox:function(val) {
          this.$emit('selectedBox', this.dataObjects.questionId, this.dataObjects.type, this.activeBox)
       }
    },
    methods: {
      
    }
      
  }

</script>
<style>
</style>