<template>
   <div id="wrapper">
      <div class="content">
         <div class="container" ref="modal">
            <h2 class="text-capitalize" v-for="(data, index)  in questions_json"  >{{ questions_json[index].pageTitle }}</h2>
            <form class="overall-form"  @submit.prevent= "submit" ref="form">
               <!-- rating component -->
               <p >{{ questions_json}}</p>
               <template  v-for="(data, index) in questions_json" >
                  <div v-for="(data, index)  in questions_json[0].questions" v-if="questions_json[0].questions.find(item => item.type === 'rating')">
                     <!-- titles :question_Title ="questions_json" /-->
                     <h3 ref="smiley"><sup class="denotes-required" v-for="(data, index)  in questions_json[0].questions" v-text="questions_json[0].questions">*</sup></h3>
                     <rating  @selectedSmiley="smiley" v-for="(data, index)  in questions_json[0].questions" v-bind:key= index :dataObjects="questions_json[0].questions.find(item => item.type === 'rating')"/>
                  </div>
                  <div v-for="(data, index)  in questions_json[0].questions" v-if="questions_json[0].questions.find(item => item.type === 'singleChoice')">
                     <h3 ref="radio"><sup class="star" >*</sup></h3>
                     <multiChoice @selectedRadio="radio"  v-for="(data, index)  in questions_json[0].questions" :dataObjects="questions_json[0].questions.find(item => item.type === 'singleChoice')"/>
                  </div>
               <div v-for="(data, index)  in questions_json.result.pages" v-if="questions_json.result.pages[index].questions.find(item => item.type === 'multiChoice')">
                     <h3  ref="checkBox"></h3>
                     <singleChoice @selectedBox="checkBox" v-for="(data, index)  in questions_json.result.pages" :dataObjects="questions_json.result.pages[index].questions.find(item => item.type === 'multiChoice')"/>
                  </div>
                  <!-- open ended component --> 
                  <div v-for="(data, index)  in questions_json.result.pages" v-if="questions_json.result.pages[index].questions.find(item => item.type === 'open')">
                     <h3  ref="openEnded"></h3>
                     <openEnded @comments="openEnded" v-for="(data, index)  in questions_json.result.pages" :dataObjects="questions_json.result.pages[index].questions.find(item => item.type === 'open')" />
                  </div>
                  <!-- open ended component --> 
                  <div  v-for="(data, index)  in questions_json.result.pages" v-if="questions_json.result.pages[index].questions.find(item => item.type === 'rating')" >
                     <h3  ref="points"></h3>
                     <pointRatings @selectedPoints="points" v-for="(data, index)  in questions_json.result.pages" :dataObjects="questions_json.result.pages[index].questions.find(item => item.type === 'rating')"/>
                  </div>                  
               </template>
               <div _ngcontent-c3="" class="page-navigator clearfix">
                  <button type="button" class="back-btn"  >Back</button>
                  <button type="submit" class="next next-btn" disabled>Submit</button>  
               </div>
            </form>
            <p>{{ questions_json }}  </p>
         </div>
      </div>
   </div>
</template>
<script>
   import '../assets/css/global.css';
   import '../assets/css/style.css';
   import rating from './rating.vue'
   import singleChoice from './singleChoice.vue'
   import multiChoice from './multiChoice.vue'
   import openEnded from './openEnded.vue'
   import pointRatings from './pointRatings.vue'
   import $ from "jquery"; 
   import axios from 'axios'
   
   export default {      
     name: 'survey',
     components: {
        rating,
        singleChoice,
        multiChoice,
        openEnded,
        pointRatings   
     },
     data: ()=>{
       return{      
         questions_json: [],
         question_Array: [],
         ratingResponse:{},
         pointResponse:{},
         radioResponse:{},
         checkBoxResponse:{},
         openResponse:{},
         userResponse:{
   
         },
            
        
         smileyClass : "",
         pointsClass : ""       }
     }, 
     mounted:  function ()  {           
         
         let token = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJxYTFAZHJvcHRob3VnaHQuY29tIiwicm9sZSI6IlJPTEVfVVNFUiIsImV4cCI6MTU5MjM2OTI3NCwiaXNzIjoiRHJvcFRob3VnaHQsIEluYyJ9.9AEPrXLkDm0I3Zhq8w7u6fuL87rp1Gc4Rho8_b47TwokbO_GRxSJMTHnwXenPmmH5dNAdAi2iUoAjGLKGllF_A'
            axios.get("https://demo.dropthought.com/dtapp/api/surveys/52725b1f-bd45-4d04-ac4f-ec4ec681dcdf",{
                headers: {
                  'Authorization': 'Bearer ' +  token
                }
            })
               .then(response => {
                  this.questions_json = response.data.result.pages
                  console.log(this.questions_json)
                   for (const i in this.questions_json){
                     
                    for (const item in this.questions_json[i].questions){ 
                       //console.log( this.questions_json[i].questions[item].questionTitle)
                        this.question_Array.push(this.questions_json[i].questions[item].questionTitle)   
                     }      
                  } 

                  //variable for question index 
                  let count = 0;
                  
                  for(let i in this.question_Array){
                     console.log(i)
                     count ++ ;   
                     document.getElementsByTagName('h3')[i].innerText =count + "." + this.question_Array[i];
                  }
                  
               })
               .catch(err => {
                  // Manage the state of the application if the request 
                  // has failed      
               })
            
            
                let count = 0;
                  
                  for(let i in this.question_Array){
                     console.log(i)
                     count ++ ;   
                     document.getElementsByTagName('h3')[i].innerText =count + "." + this.question_Array[i];
                  }
          
        
 console.log(this.questions_json)

        
   
        
        
     },  
     methods: {
          smiley(id,type,value,cName ) {
             this.smileyClass = cName;           
             this.$set(this.ratingResponse, 'dataId', id) 
             this.$set(this.ratingResponse, 'dataValue', value.split(",")) 
             this.$set(this.ratingResponse, 'dataType', type)           
          },
          radio (id,type,value){              
             $('.next').removeAttr("disabled");
             this.$set(this.radioResponse, 'dataId',id)  
             this.$set(this.radioResponse, 'dataValue', value.split(","))
             this.$set(this.radioResponse, 'dataType', type)
          },
          checkBox(id,type,value){
             this.$set(this.checkBoxResponse, 'dataId', id)  
             this.$set(this.checkBoxResponse, 'dataValue', value)             
             this.$set(this.checkBoxResponse, 'dataType', type)
          },
          openEnded(id,type,value){
             this.$set(this.openResponse, 'dataId', id)
             this.$set(this.openResponse, 'dataValue', JSON.Stringify(value))
             this.$set(this.openResponse, 'dataType', type)
          },
          points (id,type,value,cName) {
             this.pointsClass = cName;
             this.$set(this.pointResponse, 'dataId', id)
             this.$set(this.pointResponse, 'dataValue', value.split(","))  
             this.$set(this.pointResponse, 'dataType', type)
          },
          submit(){            
               this.userResponse = {};
               this.userResponse.data = [];               
               this.userResponse.token = 'pjjgpb8ooc45jd8q32hila7ek8';
               
             // checking for an empty object             
             this.ratingResponse.dataValue == null ? "" : this.userResponse.data.push(this.ratingResponse)          
             this.radioResponse.dataValue == null ? "" : this.userResponse.data.push(this.radioResponse)
             this.checkBoxResponse.dataValue == null ? "" : this.userResponse.data.push(this.checkBoxResponse)
             this.openResponse.dataValue == null ? "" : this.userResponse.data.push(this.openResponse)
             this.pointResponse.dataValue == null ? "" : this.userResponse.data.push(this.pointResponse)
   
               
             //console.log(JSON.stringify(this.userResponse))
   
             this.checkForm();
             
   
   
           
   
             axios.post('https://demo.dropthought.com/dtapp/api/event', this.userResponse, {
                  headers: {
                        'Content-Type': 'application/json',
                  }
               }).then(function (response) {
               console.log(response)
             })
             .catch(function (error) {
               console.log(error)
             });                   
                 
                         
          },
           checkForm: function () {            
   
              // code to reset smiley and point ratings
   
              if($( "em" ).hasClass( this.smileyClass )){
                  var em_space = this.smileyClass.search(" ")
                  this.smileyClass= this.smileyClass.slice(em_space)              
                  $("em").removeClass(this.smileyClass)              
              }
               if ($( "a" ).hasClass( this.pointsClass )){
                  var a_space = this.pointsClass.search(" ")
                  this.pointsClass= this.pointsClass.slice(a_space)              
                  $("a").removeClass(this.pointsClass)   
               }
             
             // code to reset rest of fields
   
              $("#user_words").remove();
              $('.next').attr("disabled","disabled");
              event.target.reset();
   
            //clearing an object once form gets submitted 
   
              this.ratingResponse= {};
              this.radioResponse ={};
              this.checkBoxResponse = {};
              this.openResponse = {};
              this.pointResponse = {}; 
         },
         check(){
            
         }         
     }    
   }
    
</script>
<style></style>