<template>
<div class="titles">
   <div v-for="(data) in question_Title" v-text="data">
     <div v-for="i in data">
      <div v-for="(questions,index) in i.questions" v-bind:key="index" >
      <h3>{{questions.questionTitle}}</h3>
     </div>
   </div>
  </div>
 
</div>
</template>
<script>
   export default {
      name: 'titles',
     props: {
       question_Title: Object
     }
    
   }
     
</script>
<style></style>