<template>
  <div id="app">   
    <survey msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import survey from './components/survey.vue'

export default {
  name: 'app',
  components: {
    survey
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
